.login-container {
    background: linear-gradient(
      180deg,
      rgba(109.44, 108.98, 108.98, 0.75) 0%,
      rgba(184.88, 184.1, 184.1, 0.05) 79.17%,
      rgba(109.44, 108.98, 108.98, 0) 100%
    );
    border-radius: 20px;
    width: 100%;
    padding: 12px;
  
    animation-duration: 1s;
    animation-name: fadenslide2;
    
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .login-container > div {
    margin-bottom: 12px;
  }
  
    .login-logo-container {
      height: 120px;
      justify-content: center;
      display: flex;
      width: 100%;
    }
  
      .login-logo-image {
        height: 117px;
        width: 111px;
        animation-duration: 1s;
        animation-name: fadenslide;
  
        margin-right: -80px;
      }
  
      .login-logo-text {
        -webkit-text-stroke: 1px #000000;
        color: #ffffff;
        font-family: "Michroma", Helvetica;
        font-size: 50px;
        font-weight: 400;
        text-shadow: 0px 4px 4px #00000040;
        animation-duration: 1s;
        animation-name: fadenslide;
  
        margin-top: 20px;
      }
  
    .login-input-field-container {
      display: flex;
      width: 100%;
    }
  
      .login-user-input-field {  
      background-color: #d9d9d9;
      border-radius: 55.5px;
      height: 50px;
      text-align: center;
      width: 100%;
      margin-right: -55px;
      }
  
      .login-icon {
        height: 50px;
        width: 50px;
        right: 32px;
        margin-top: 4px;
      }
  
    .login-submit {
      background-color: #78bbcf;
      border-radius: 55.5px;
      height: 50px;
      top: 160px;
      width: 70%;
      justify-content: center;
      align-items: center;
      display: flex;
      transition: all 0.2s ease;
    }
    
    .login-submit:hover {
      transform: scale(1.1);
      color: #000000;
      background-color: #5c9eb3;
    }
  
    .login-error {
      color: red;
      font-size: 14px;
      bottom: -20px; /* Ajusta según sea necesario para la posición del mensaje de error */
      left: 0;
    }
  
  @keyframes fadenslide {
    from {
      margin-left: 100%;
      opacity: 0;
    }
    to {
      margin-left: 0%;
      opacity: 1;
    }
  }

  @keyframes fadenslide2 {
    from {
      margin-top: 20%;
      opacity: 0;
    }
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }
  
  @media (min-width: 1024px) {
    .background-image {
      justify-content: center;
    }
  
    .login-container {
      width: 50%;
      height: 40%;
     }
    }