/******************************************************************************************************/
/************************************************ NAVS ************************************************/
/******************************************************************************************************/

  .general-nav, #general-nav {
    background-color: rgb(56, 58, 121);
    border-radius: 41px;
    height: 10%;
    position: fixed;
    bottom: 30px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
/************************************************ FIXED ************************************************/
  
  .fixed-container {
    height: 70%;
    width: 30%;
    animation: openNavButton 0.5s forwards;
    display: flex;
    justify-content: center;
  }
        
    .fixed-shape {
      background-color: #6a6fe4;
      border-radius: 32px;
      height: 100%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
      .fixed-icon {
        height: 100%;
        transition: all 0.2s ease;
        width: 80%;
      }
  
        .fixed-icon:hover{
          transform: scale(1.2);
        }
  
      .fixed-text {
        display: none;
        width: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: -5%;
      }

        .button-text {
          font-size: clamp(12px, 5vh, 40px);
          font-weight: 400; 
        }

    
  
/************************************************ DISPLAY ************************************************/
  
  .display-container {
    height: 100%;
    width: 30%;
    animation: openNavButton 0.5s forwards;
    display: flex;
    align-items: center;
  }
  
    .display-button {
      height: 80%;
      margin: 0 auto;
      width: 50%;
    }
  
      .display-icon {
        width: 100%;
        height: 100%;
      }
  
        .display-icon:hover {
          transition: 0.2s ease;
          transform: scale(1.2);
        }
  
/*******************************************************************************************************/
/******************************************** ANIMS & UTILS ********************************************/
/*******************************************************************************************************/
  
  .fixed-enter {
    display: block;
  }
  
    .fixed-enter-active {
      animation: openNavButton 0.5s forwards;
    }
  
  .fixed-exit {
    display: none;
  }
  
    .fixed-exit-active {
      animation: closeNavButton 0.5s forwards;
    }
  
  .display-enter {
    display: block;
  }
  
    .display-enter-active {
      animation: openNavButton 0.5s forwards;
    }
  
  .display-exit {
    display: none;
  }
  
    .display-exit-active {
      animation: closeNavButton 0.5s forwards;
    }
  
  @keyframes openNavButton {
    0% {
      display: block;
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes closeNavButton {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      display: none;
    }
  }

  @media (min-width: 1024px) {
    /*********************** DISPLAY ***********************/
    .display-container {
      height: 70%;      
    }
  
    .display-button {
      width: 25%;
    }

    /*********************** FIXED ***********************/
    .fixed-icon {
      margin-left: 5%;
      height: 80%;
      width: 30%;
    }

    .fixed-text {
      display: flex;
      width: 70%;
    }

    .fixed-shape {
      width: 280px;
    }
  }
