/********************************************************************************************************/
/************************************************ LOCALS ************************************************/
/********************************************************************************************************/


  .locals-lists {
    list-style-type: none;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    height: 100vh;
  }
  
    .locals-lists > li:last-child {
      margin-bottom: 130px;
    }
  
    .locals-lists::-webkit-scrollbar {
      display: none;
    }
    
    .locals-item {  
      height: 175px;
      padding-bottom: 10px;
      transition: margin-bottom 0.5s ease;
      width: 100%;
    }
    
      .locals-item-container {
        background-color: #57a8ca4a;
        border-radius: 20px;
        height: 175px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

/************************************************ LOGO ************************************************/
    
  .locals-logo {
    background-color: #d9d9d959;
    border-radius: 62.5px;
    height: 125px;
    width: 125px;
    overflow: hidden;
    margin-left: 10px;
  }

    .locals-image {
      height: 125px;
      width: 125px;
      object-fit: fill;
    }

/************************************************ TEXT ************************************************/

  .locals-text {
    height: 100%;
    width: 70%;
  }
          
    .locals-name {
      color: #ffffff;
      font-family: "Inria Sans", Helvetica;
      font-size: clamp(20px, 4vw, 40px);
      font-weight: 400;
      width: 100%;
      margin-top: 2%;
      height: 20%;
      margin-bottom: 3%;
    } 
      
    .locals-desc {
      color: #ffffff;
      font-family: "Inria Sans", Helvetica;
      font-size: clamp(16px, 3vw, 32px);
      font-weight: 400;
      width: 95%;
      margin-left: 5%;
      height: 55%;
    }

/************************************************ EVENTS GOTO ************************************************/

  .locals-goTo {
    height: 70%;
    width: 20%;
    transition: all 0.2s ease;
  }

    .locals-goTo:hover {
      transform: scale(1.1);
    }
           
/***********************************************************************************************************/
/************************************************ DROPDOWNS ************************************************/
/***********************************************************************************************************/

  .locals-item-dropdown {
    background-color: #d2e7f04a;
    border-radius: 20px;
    height: 175px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  } 

    .locals-dropdown-container {
      height: 160px;
      width: 100%;
      justify-content: center;
      display: flex;
    }

      .locals-dropdown-list {
        width: 95%;
        list-style-type: none;
        align-items: center;
        padding: 15px 5px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

        .locals-dropdown-element {
          height: 30px;
          width: 100%;
          padding: 5px auto;
          position: relative;
          margin-bottom: 5px;
          background-color: rgba(255, 255, 255, 0.35);
          border-radius: 62.5px;

        }

/*******************************************************************************************************/
/******************************************** ANIMS & UTILS ********************************************/
/*******************************************************************************************************/

  .dropdown-enter {
    position: absolute;
    transform: translateY(-110%);
    opacity: 0;
  }

    .dropdown-enter-active {
      transform: translateY(0%);
      opacity: 1;
      transition: all 0.5s ease;
    }

  .dropdown-exit {
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease;
  }

    .dropdown-exit-active  {
      position: absolute;
      transform: translateY(-110%);
      opacity: 0;
    }

  .push-down {
    margin-bottom: 200px;
  }

  @media(min-width: 1024px) {
    .locals-item-container {
      border-radius: 200px;
    }
  }
            